body { background-color:#EEF2FF;}
hr {border-color:grey;
     border-style:none;
     border-top-style: dotted;
      border-width: 5px;
       width:5%;}
h1{color:#92A9BD;}
h3{color:#92A9BD;}
